/* You can add global styles to this file, and also import other style files */
@use 'styles/_variables' as *;
@use 'styles/_mixins' as *;
// @use 'styles/_themes' as *;

// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: var(--text-color);
  background-color: var(--background-color);
}