<footer class="footer-section">
    <div class="footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col-left">
                    <div class="footer-logo">
                        <span class="footer-logo-text">HNLawyers <span class="footer-logo-w">W</span></span>
                        <div class="footer-slogan">Your trust - Our power</div>
                    </div>
                    <div class="footer-contact">
                        <div class="footer-contact-item">
                            <span class="footer-icon">&#128205;</span> Trụ sở chính: Quận 1, TP. Hồ Chí Minh, Việt Nam
                        </div>
                        <div class="footer-contact-item">
                            <span class="footer-icon">&#128205;</span> Nơi làm việc: Quận 3, TP. Hồ Chí Minh, Việt Nam
                        </div>
                        <div class="footer-contact-item">
                            <span class="footer-icon">&#9993;</span> info.hnlawyers.com
                        </div>
                        <div class="footer-contact-item"><span class="footer-icon">&#128222;</span> +84 9378 79724</div>
                        <div class="footer-social">
                            <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#" title="X"><i class="fab fa-x-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 footer-col-right">
                    <div class="row">
                        <div class="col-md-4 col-6 footer-links">
                            <div class="footer-links-title">LĨNH VỰC</div>
                            <ul>
                                <li>Trọng tài & Tố tụng Tòa án</li>
                                <li>Doanh nghiệp & Đầu tư nước ngoài</li>
                                <li>Hôn nhân – Gia đình & Dân sự</li>
                                <li>Lao động & Việc làm</li>
                                <li>Quyền riêng tư về dữ liệu</li>
                                <li>Tuân thủ & Quản lý Rủi ro</li>
                                <li>Mua bán & Sáp nhập</li>
                                <li>Quyền Sở hữu Trí tuệ</li>
                                <li>Bất động sản & Xây dựng</li>
                                <li>Năng lượng tái tạo</li>
                                <li>Lĩnh vực khác</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-6 footer-links">
                            <div class="footer-links-title">ẤN PHẨM</div>
                            <ul>
                                <li>Tin tức pháp luật</li>
                                <li>Cập nhật Pháp luật</li>
                                <li>Blog/ Bài viết</li>
                                <li>Câu hỏi thường gặp</li>
                            </ul>
                            <div class="footer-dmca">
                                <img
                                    src="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=someid"
                                    alt="DMCA" />
                            </div>
                        </div>
                        <div class="col-md-4 col-12 footer-links">
                            <div class="footer-links-title">SOCIAL</div>
                            <ul>
                                <li>Facebook</li>
                                <li>Linkedin</li>
                                <li>Twitter</li>
                                <li>Youtube</li>
                                <li>Instagram</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-copyright">
                    Bản quyền © 2025 Công ty Luật HNLawyers Vietnam. Bảo lưu tất cả các quyền.
                </div>
                <div class="footer-credit">ViiVue Design Company hỗ trợ tạo site.</div>
            </div>
        </div>
    </div>
</footer>
