<div class="slider-container">
    <div class="slider">
        <div class="slide active"
            [style.background-image]="'url(https://images.unsplash.com/photo-1464938050520-ef2270bb8ce8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80)'">
            <div class="container">
                <div class="slide-content">
                    <div class="slide-navigation">
                        <div class="slide-number">01</div>
                        <div class="slider-dots">
                            <span class="dot active" (click)="setSlide(0)"></span>
                            <span class="dot" (click)="setSlide(1)"></span>
                            <span class="dot" (click)="setSlide(2)"></span>
                            <span class="dot" (click)="setSlide(3)"></span>
                        </div>
                    </div>
                    <h1>
                        Tại <span class="highlight">Công ty Luật BLawyers Vietnam</span>, chúng tôi sẽ chăm sóc bạn.
                    </h1>
                    <p class="services">
                        Chúng tôi chuyên luật về Trọng tài & Tố tụng Tòa án, Doanh nghiệp & Đầu tư,
                        Tuân thủ & Quản lý Rủi ro, Hôn nhân & Gia đình, Lao động & Việc làm,
                        Mua bán & Sáp nhập, Bất động sản & Xây dựng, Năng lượng Tái tạo và các luật khác.
                    </p>
                    <div class="slide-description">
                        Các chuyên gia luật đẳng cấp và tâm cảm của chúng tôi tại đây để giúp bạn cảm thấy an tâm
                        bất kể nhu cầu pháp lý của bạn là gì. Chúng tôi có xuất hướng dẫn bạn. Chúng tôi cung cấp các
                        giải pháp, bất kỳ khi nào bạn cần trợ giúp về vấn đề pháp lý gì, hãy để chúng tôi chiến
                        đấu cho bạn.
                    </div>
                    <button class="learn-more">Tìm hiếu thêm</button>
                </div>
            </div>
        </div>
    </div>
</div>