.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 84px);
    font-family: 'Roboto';
}

.slider {
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: white;
}

.slide.active {
    opacity: 1;
    transition: transform 10s ease;
}

.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.container {
    max-width: 1160px;
}

.slide-content {
    position: relative;
    z-index: 1;
    // text-align: justify;
}

.slide-navigation {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.slide-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.slider-dots {
    display: flex;
    margin-bottom: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: white;
}

.dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.slide-header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.3;
    font-family: 'Times New Roman', Times, serif;
}

.highlight {
    color: rgb(253, 106, 33);
}

.effect-line {
    display: inline-block;
    border-bottom: 1px dotted rgba(253, 106, 33, 0.8);
    cursor: pointer;
    position: relative;

    &:hover {
        color: rgb(253, 106, 33);
        border-color: transparent;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 2px;
        width: 0px;
        background: rgb(253, 106, 33);
        transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    &:hover::before {
        width: 100%;
    }
}

.slide-description-wrapper {
    display: flex;
    justify-content: space-between;
}

.slide-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 700px;
    color: rgba(255, 255, 255, 0.9);
    text-align: justify;
}

.learn-more {
    width: 176px;
    height: 52px;
    border-width: 1px;
    border-radius: 4px;
    display: block;
    background-image: unset;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
    transform: translateY(50%);
    background: linear-gradient(to right, #f26522 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition:
        background-position 0.4s ease,
        color 0.4s ease;
}

.learn-more:hover {
    background-position: left bottom;
    color: white;
    cursor: pointer;
}

.slide-blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(37, 56, 112, 0.06) 0%,
        rgba(34, 60, 115, 0.34) 52%,
        rgba(35, 60, 115, 0.54) 92%,
        rgba(35, 59, 115, 0.64) 100%
    );
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .services,
    .slide-description {
        font-size: 0.9rem;
    }

    .slide-description {
        font-size: 0.9rem;
        text-align-last: left; /* Tránh justify dòng cuối cùng trên mobile */
        letter-spacing: -0.01em; /* Giảm nhẹ khoảng cách chữ để tránh khoảng trắng lớn */
    }
}
